// don't edit the css file
// edit the sass file
.App

.constainer
  width: 100% !important

.row
  width: 100% !important
  &:first-child
    padding-left: 40px

.main
  display: flex
  flex-direction: column

.webcam
  width: 600px
  height: 200px;
  font-size: 40px

.tools
  width: 400px
  height: 200px
  font-size: 40px

.dbg
  div
    outline: 1px solid red

.debug-link
  position: absolute
  top: 2
  left: 2
  color: black
  z-index: 2;
  &.on
    color: red

.column
  border-right: thick solid black;
