// don't edit the css file
// edit the sass file
html, body, #root, .App, .dbg, #root>div
  height: 100%

.toggle
  position: absolute
  z-index: 2
  opacity: 0
  &:hover
    opacity: 1

.dbg .toggle
  opacity: 1

.constainer
  width: 100% !important

.row
  width: 100% !important
  height: 100% !important
  &:first-child
    padding-left: 40px

.main
  display: fle
  flex-direction: column

.webcam
  width: 600px
  height: 200px;
  font-size: 40px

.tools
  width: 400px
  height: 200px
  font-size: 40px

.dbg
  div
    outline: 1px solid red

.debug-link
  opacity: 0
  &:hover
    opacity: 1
  position: absolute
  top: 2
  left: 2
  color: black
  z-index: 2;
  &.on
    color: red
    opacity: 1

.column
  border-right: thick solid black;

.option-button
  button
    width: 130px

.flashy
  &:focus
    animation: flashy-bg 0.5s forwards linear


@keyframes flashy-bg
  0% { background: rgb(192, 192, 192) }
  50% { background: #31b0d5 }
  100% { background: rgb(192, 192, 192) }
