.demo-container
  position: absolute
  top: 0
  right: 0
  transform: rotateY(180deg);
  display: flex
  align-items: center
  background: black
  height: 150px
  width: 200px

  video, canvas
    position: absolute
